---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section>
    <article>
      <header>
        <nav>
          <ul
            class="mt-3.5 flex justify-between items-center h-12 w-[860px] px-1 py-1.5 rounded-full backdrop-blur-3xl bg-white/20"
          >
            <li class="bg-black rounded-full px-8 h-full flex items-center">
              <a href="">Inicio</a>
            </li>
            <li><a href="">Catalogo</a></li>
            <li><a href="">Sobre Nosotros</a></li>
            <li><a href="">Preguntas Frecuentes</a></li>
            <li><a href="">Contacto</a></li>
          </ul>
        </nav>
      </header>

      <div>
        <h1>Tu estilo, sin esfuerzo.</h1>
        <p>Ropa estilo urbana</p>
      </div>

      <footer>
        <img src="/assets/svg/LogoClub6.svg" alt="" />
        <a href="">Unite a club 6</a>
      </footer>
    </article>

    <article></article>

    <article></article>
  </section>
</Layout>
