---

---

<header class="mt-2.5 px-6 max-md:hidden">
  <nav>
    <ul
      class="flex justify-between items-center h-12 max-lg:w-full w-[860px] p-1 rounded-full backdrop-blur-xl bg-white/20 text-lg"
    >
      <li class="bg-black rounded-full px-8 h-full flex items-center">
        <a href="">Inicio</a>
      </li>
      <li class="rounded-full px-8 h-full flex items-center">
        <a href="">Catalogo</a>
      </li>
      <li class="rounded-full px-8 h-full flex items-center">
        <a href="">Sobre Nosotros</a>
      </li>
      <li class="rounded-full px-8 h-full flex items-center">
        <a href="">Preguntas Frecuentes</a>
      </li>
      <li class="rounded-full px-8 h-full flex items-center">
        <a href="">Contacto</a>
      </li>
    </ul>
  </nav>
</header>
