---
import IconCategory from "../../public/assets/svg/IconCategory.astro";
import IconContact from "../../public/assets/svg/IconContact.astro";
import IconHome from "../../public/assets/svg/IconHome.astro";
import IconQuestion from "../../public/assets/svg/IconQuestion.astro";
import IconUs from "../../public/assets/svg/IconUs.astro";
---

<nav
  role="navigation"
  aria-label="Navegación móvil"
  class="px-4 hidden max-md:flex justify-between items-center backdrop-blur-xl bottom-0 fixed rounded-full h-15 w-full text-lg max-sm:text-base bg-white/20"
>
  <a href=""><IconContact class="w-8" /></a>
  <a href=""><IconQuestion class="w-8" /></a>
  <a href=""><IconHome class="w-10 fill-[#B6BDDE]" /></a>
  <a href=""><IconCategory class="w-8" /></a>
  <a href=""><IconUs class="w-8" w /></a>
</nav>
