---
import CardProducts from "./Card-Products.astro";
---

<section
  class="overflow-x-auto md:overflow-x-visible scroll-smooth pt-16 flex flex-col items-center "
>
  <h2 class="font-bold text-[28px]">Productos Destacados</h2>
  <div class="w-[80%]  pt-16">
    <div
      class="flex scroll-smooth snap-x snap-mandatory overflow-x-auto md:overflow-x-auto md:justify-start md:snap-x md:snap-mandatory"
      style="scroll-behavior: smooth;"
      id="carousel-container"
    >
      <CardProducts/>
      <CardProducts/>
      <CardProducts/>
      
    </div>
  </div>
</section>

<script>
  window.addEventListener("DOMContentLoaded", () => {
    const container = document.getElementById("carousel-container");
    if (container) {
      const middle = container.children[1];
      if (middle) {
        middle.scrollIntoView({
          inline: "center",
          behavior: "smooth",
          block: "nearest",
        });
      }
    }
  });
</script>
