---
import BannerClub6 from "../../public/assets/svg/BannerClub6.astro";
import BannerClub6M from "../../public/assets/svg/BannerClub6M.astro";
import BtnPrimary from "../components/BtnPrimary.astro";
---

<section class="w-full max-w-[1920px] grid grid-cols-12 h-max gap-4">
  <article class="col-span-7 max-xl:col-span-12">
    <BannerClub6 class="w-full h-full bg-black max-sm:hidden rounded-4xl" />
    <BannerClub6M
      class="w-full h-full hidden bg-black max-sm:block max-sm:h-64 rounded-4xl"
    />
  </article>
  <article
    class="w-full col-span-5 max-xl:col-span-12 flex flex-col p-8 max-sm:py-6 max-md:px-4 rounded-4xl backdrop-blur-xl bg-white/20 text-lg"
  >
    <header>
      <h2 class="text-[#A7ABC0] text-3xl max-xl:text-2xl font-bold">
        Somos Club 6
      </h2>
      <h3 class="text-2xl font-semibold mt-2 max-xl:text-xl">
        En Club 6, creemos que la comodidad y el estilo no tienen género.
      </h3>
    </header>
    <footer class="mt-4 flex flex-col gap-2 flex-grow">
      <p class="text-xl max-xl:text-lg">
        Por eso, diseñamos prendas unisex confeccionadas con algodón de primera
        calidad 20.1, garantizando suavidad y durabilidad.
      </p>
      <p class="text-xl max-xl:text-lg">
        Nuestra colección demuestra que los colores clásicos nunca pasan de
        moda, ofreciendo un look versátil y elegante para cualquier ocasión
      </p>
    </footer>
    <BtnPrimary href="/" text="Contactanos" />
  </article>

  <article
    class="w-full col-span-12 flex flex-col p-8 max-sm:py-6 rounded-4xl backdrop-blur-xl bg-white/20 text-lg max-md:px-4"
  >
    <header>
      <h2 class="text-[#A7ABC0] text-3xl font-bold max-xl:text-2xl">
        Nuestros Valores
      </h2>
      <h3 class="text-2xl font-semibold mt-2 max-xl:text-xl">
        En Club 6, creemos que la comodidad y el estilo no tienen género.
      </h3>
    </header>
    <footer class="mt-4 flex flex-col gap-2 flex-grow w-[90%] max-xl:w-full">
      <p class="text-xl max-xl:text-lg">
        Por eso, diseñamos prendas unisex confeccionadas con algodón de primera
        calidad 20.1, garantizando suavidad y durabilidad Por eso, diseñamos
        prendas unisex confeccionadas con algodón de primera calidad 20.1,
        garantizando suavidad y durabilidad. Por eso, diseñamos prendas unisex
        confeccionadas con algodón de primera calidad 20.1, garantizando
        suavidad y durabilidad.
      </p>
    </footer>
  </article>
</section>
