---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<script>
  // This script is used to set the theme based on the user's preference
  const userTheme = localStorage.getItem("theme") || "light";
  document.documentElement.setAttribute("data-theme", userTheme);
  document.documentElement.classList.add(userTheme);
</script>
